body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 40%;
  top: 100px;
  width: 30%; /*  width */
  height: 70%; /*  height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(235, 229, 229, 0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: none; /* Hidden by default */  
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 30%;
  top: 20%;
  width: 40%; /*  width */
  height: 60%; /*  height */  

  margin: auto;
  padding: 20px;
  border: 1px solid #413e3e7e;

}
#overlay {
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    display:none;
    background-color:#000;
    opacity:0.5;
  }
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.error {
  color: red;
  align-self: flex-end;
  font-size: 12px;
  font-style: italic;
  padding-bottom: 10px;
  line-height: 3px;
}
.submit-btn {
  align-self: flex-end;
  width: 80px;
}
